body {
    width: 100vw;
    height: 100vh;
}

nav {
  background-color: #000;
  color: #fff;   
  width: 100%;
  display: flex;

  ul {
    width: inherit;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
}

footer {
    width: 100%;
    height: 30%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}